<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Attendance</title>
        <!-- Responsive screen size -->
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <!-- End of responsive screen size -->
        
        <!-- Bootstrap -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- End of Bootstrap -->    
    
        <!-- Google fonts -->
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">

        <!-- Custom Stylesheet -->
            <link rel="stylesheet" type="text/css" href="/stylesheets/form.css"> 
        <!-- End of Custom Stylesheet -->    
        
        <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- End of jQuery -->  
        
        <!-- particles -->
            <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <!-- End of particles -->  
        
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/../scripts/instascan.min.js"></script>
        <script>
            particlesJS.load('particles-js', '/json/particles.json');
        </script>
    </head>
<body>
<!--Calculationfor A/L Year-->
    <% var years = new Date().getFullYear();   %>
<!--End of calculating the years for hisroty-->

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><img id="AkuraBrand"src="https://i.imgur.com/GwaGx2B.png" ></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <ul class="navbar-nav nav-link">
            <a class="links" href="/admin">Home</a>
          </ul>
          <ul class="navbar-nav nav-link"  data-toggle="modal" data-target="#stulec">
            <a class="links" href="#stulec">Register</a>
          </ul>
          <ul class="navbar-nav nav-link">
            <a class="links" href="/admin/newsfeeds">Newsfeed</a>
          </ul>
        </ul>
        
        <a  id="register"href="/login">
          <button class="custombtn btn btn-outline-primary btn-sm" type="submit">Log Out</span></button>
        </a>
      </div>
    </nav>

<div id="particles-js">
    <div id="overlay">
        <h2 id="topic"><%=subject[0].subname%> - <%=subject[0].year%></h2>
        <br>
        <center><h3><%= moment().format('Do MMMM, YYYY'); %></h3></center>
        
        
        
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default panel-fill">
                            <div class="panel-heading">
                                <h3 id="subID" class="panel-title">Select Student - <%=subject[0].subID%></h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <center><video id="preview"  style="width:100%; height:300px"></video></center>
                                        </div>
                                     
                                        <div class="col-lg-6">
                                            <div class="row" style="margin-top:20px">
                                                <label class="col-lg-2 control-label label">Student #</label>
                                                <div class="col-lg-10">
                                                    <div class="input-group mb-3">
                                                      <input id="stID" name="stIDName" type="text" class="form-control" placeholder="Enter Student ID" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
                                                      <div class="input-group-append">
                                                        <button id="checkBtn" class="btn btn-primary" type="button" style="margin-bottom:0;font-size:12px;">CHECK</button>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row"   style="border:1px solid gray; border-bottom:none">
                                                <div class="col-lg-12">
                                                    <h6 style="text-align:center; margin-bottom:20px;  margin-top:20px">Student Details</h6>
                                                </div>
                                            </div>
                                            <div class="row" style="border-left:1px solid gray; border-right:1px solid gray; ">
                                                <label class="col-lg-2 control-label label">Name</label>
                                                <div class="col-lg-10 input-group-append">
                                                    <input class="form-control" type="text" name="name" id="name" placeholder="Name" readonly>
                                                </div>
                                            </div>
                                            
                                            <div class="row"  style="border-left:1px solid gray; border-right:1px solid gray; ">
                                                <label class="col-lg-2 control-label label">AL Year</label>
                                                <div class="col-lg-10 input-group-append">
                                                    <input class="form-control" type="text" name="name" id="alyear" placeholder="AL Year" readonly>
                                                </div>
                                            </div>
                                            
                                            <div class="row"  style="border-left:1px solid gray; border-right:1px solid gray; border-bottom:1px solid gray;">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        
        <div class="container">
            <div id="content-background" style="padding-top:10px">
                <div class="tab-content">
                    <div class="col-lg-12">
                        <div class="panel panel-default panel-fill">
                            <div class="container-table100">
                            	<div class="wrap-table100">
                            		<div class="table100">
                            			<table id="students">
                            				<thead>
                            					<tr class="table100-head">
                            						<th class="column1">#</th>
                            						<th class="column4">Presence</th>
                            						<th class="column2">Student ID</th>
                            						<th class="column3">Name</th>
                            						
                            					</tr>
                            				</thead>
                            				<tbody>
                                                <% for(var i=0; i<subject.length; i++){ %>
                                                    <tr>
                                                        <td class="column1"><%=i+1 %></td>
                                                        <td class="column1"> <input type='checkbox' id="<%=subject[i].stID%>chk" class="chkbxs" value="<%=subject[i].stID%>" name='select'></td>
                                                    	<td class="column2" style="width:300px"><%=subject[i].stID%> </td>
                                                    	<td class="column3" style="width:300px"><%=subject[i].name%> </td>
                                                     </tr>
                                                 <% } %>
                                            </tbody>
                            			</table>
                            		</div>
                            	</div>
                            </div>
                            <center>
                                <div class="form-group">
                                    <button type="submit" id="submitbtn" class="btn btn-primary">MARK ATTENDANCE</button>
                                </div>
                            </center>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>


    <script type="text/javascript">
        var subID = $('#subID').text().split(' ');
        subID=subID[subID.length-1];
        
        $('.chkbxs').change(function(){
            if($(this).prop('checked')){
                var id=$(this).val();
                $.ajax({
                    url: "/admin/markAttendance/"+subID,
                    type: "POST",
                    contentType:"application/json",
                    data: JSON.stringify({attendance:{"stID":id, "class":subID}})
                });
            }
            else{
                var id=$(this).val();
                $.ajax({
                    url: "/admin/markAttendance/"+subID,
                    type: "DELETE",
                    contentType:"application/json",
                    data: JSON.stringify({attendance:{"stID":id, "class":subID}})
                });
            }
        });

        var scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
        scanner.addListener('scan', function (content, image) {
            if (content!=null && content[0]=="S"){
                var audio = new Audio('/../beep.mp3');
                audio.play();
                
                var arr = content.split(' ');
                $("#stID").val(arr[0]);
                $("#name").val(arr[1]+" "+arr[2]);
                $("#alyear").val(arr[3]);
                
                if(!$("#"+arr[0]+"chk").prop('checked')){
                    $("#"+arr[0]+"chk").prop("checked", true);
                    $.ajax({
                        url: "/admin/markAttendance/"+subID,
                        type: "POST",
                        contentType:"application/json",
                        data: JSON.stringify({attendance:{"stID":arr[0], "class":subID}})
                    });
                }
            }
        });
        
        Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
              scanner.start(cameras[0]);
            }
            
            else
                alert("Please connect a camera to scan the QR code.");
        });
        
        function sleep (time) {
          return new Promise((resolve) => setTimeout(resolve, time));
        }
        
        $('#submitbtn').click(function(){
            swal({
                title:"Saved",
                text: "Attendance marked successfully",
                icon: "success",
                dangerMode: false,
            });  
            
            sleep(3000).then(() => {
                location.reload(); 
            });
        });
    </script> 
    
<script src="../scripts/attendance.js"></script>
<% include ../partials/footer %>