<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <!-- Bootstrap -->
            <!-- Responsive screen size -->
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
            <!-- End of responsive screen size -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            
        <!-- End of Bootstrap -->
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
        <link rel="stylesheet" type="text/css" href="../stylesheets/home.css"> 
        
    <!-- Particles --> 
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

        <script>
            particlesJS.load('particles-js', '../json/particles.json')
        </script>
    <!-- End of Particles -->    
    </head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img id="AkuraBrand"src="https://i.imgur.com/GwaGx2B.png" ></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
<ul class="nav navbar-nav navbar-right">
           <% if(!currentUser){ %>
    <a  id="register"href="/login">
      <button class="custombtn btn btn-outline-primary btn-sm" type="submit">Log In</span></button>
    </a>
   <% } else { %>
    <ul class="navbar-nav nav-link">
      <a id="user" class="links" href="#"> Signed in as
      <%= currentUser.username %> 
      </a>
    </ul>
    <ul class="navbar-nav nav-link">
    <a  id="register"href="/logout">
      <button class="btn btn-outline-primary btn-sm custombtn" type="submit">Logout</button>
    </a>
    </ul>
    <% } %>
  </div>
</nav>
<div id="particles-js">
    <div id="overlay">
    <h2 id="topic">HOME</h2>
    <!--============================= DETAIL =============================-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 responsive-wrap">
                    <div class="row detail-options-wrap">
                        <div class="col-md-6 col-lg-3 featured-responsive c2 c1">
                            <div class="featured-place-wrap" data-toggle="modal" data-target="#stulec">
                                <a href="#">
                                    <div class="image">
                                        <img src="https://profiles.sulekha.com/mstore/24036103/albums/default/thumbnailfull/e-register.jpg" class="img-fluid" alt="#">
                                    </div>
                                    <span class="featured-rating"><i class="fas fa-users"></i></span>
                                    <div class="featured-title-box">
                                        <h6>Register</h6>
                                        <p>Lecturer </p> <span>• </span>
                                        <p>Student</p> <span> </span>
                                        <ul>
                                            <li>
                                            <span><i class="fas fa-user-tag inner-icons"></i></span>
                                                <p>Register New User</p>
                                            </li>
                                            <li><span><i class="fas fa-chalkboard-teacher inner-icons"></i></span>
                                                <p>Assign Class to Lecturer</p>
                                            </li>
                                            <li><span><i class="fas fa-school inner-icons"></i></span>
                                                <p>Enrol Student in Class</p>
                                            </li>
                                            

                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="closed-now">Click Here to Add New User</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                         <div class="modal fade" id="stulec" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title" id="exampleModalLabel">Select User</h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" style="color:white;">&times;</span>
                                        </button>
                                    </div>
                            
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row" style="margin-top:20px;">
                                                <div class="col-lg-6 col-md-6 featured-responsive c2">
                                                    <div class="featured-place-wrap">
                                                        <a href="/admin/register/lecturer">
                                                            <div class="image">
                                                                <img src="https://s3-ap-southeast-1.amazonaws.com/images.humanresourcesonline.net/wp-content/uploads/2017/03/Wani-7-Mar-Lecturers-123RF-700x420.jpg" style="height:100%" class="img-fluid" alt="#">
                                                            </div>
                                                            <div class="featured-title-box inner-title">
                                                                <h6 style="margin:-10px">Lecturer</h6>
                                                                <ul>
                                                                    <li><span class="icon-location-pin"></span>
                                                                        <p>Register a new Lecturer</p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 featured-responsive c2">
                                                    <div class="featured-place-wrap">
                                                        <a href="/admin/register/student">
                                                            <div class="image">
                                                                <img src="https://s16815.pcdn.co/wp-content/uploads/2017/06/iStock-609683672-studying.jpg" style="height:100%" class="img-fluid" alt="#">
                                                            </div>
                                                            <div class="featured-title-box inner-title">
                                                                <h6 style="margin:-10px">Student</h6>
                                                                <ul>
                                                                    <li><span class="icon-location-pin"></span>
                                                                        <p>Register a new Student</p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-md-6 col-lg-3 featured-responsive">
                            <div class="featured-place-wrap">
                                <a href="/admin/payments">
                                    <div class="image">
                                        <img src="https://i.pinimg.com/originals/a5/d2/1a/a5d21aab5e18630975ae7e02eaa37af2.jpg" class="img-fluid" alt="#">
                                    </div>
                                    <span class="featured-rating-yellow"><i class="fas fa-money-bill-alt"></i></span>
                                    <div class="featured-title-box">
                                        <h6>Payments</h6>
                                        <p>Mark new payment of a student</p>
                                        <ul>
                                            <li><span><i class="fas fa-id-badge inner-icons"></i></span>
                                                <p>Enter Student ID</p>
                                            </li>
                                            <li><span><i class="fas fa-mouse-pointer  inner-icons"></i></span>
                                                <p>Pick a Class</p>
                                            </li>
                                            <li><span><i class="fas fa-print inner-icons"></i></span>
                                                <p>Get Invoices</p>
                                            </li>

                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="closed-now">Click Here to Mark Student payment</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 featured-responsive c2">
                            <div class="featured-place-wrap"  data-toggle="modal" data-target="#classes">
                                <a href="#classes">
                                    <div class="image">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5_nSuG8iHI_ZYD1Mxo_nsD8kvLJI2HA7vQRGFqNTb6EJOVDgQqQ" class="img-fluid" alt="#">
                                    </div> 
                                    <span class="featured-rating-green"><i class="fas fa-edit"></i></span>
                                    <div class="featured-title-box">
                                        <h6>Attendance</h6>
                                        <p>Mark attendance of students </p>
                                        <ul>
                                            <li><span><i class="fas fa-graduation-cap inner-icons"></i></span>
                                                <p>2019 Combined Maths</p>
                                            </li>
                                            <li><span><i class="fas fa-graduation-cap inner-icons"></i></span>
                                                <p>2020 Physics</p>
                                            </li>
                                            <li><span><i class="fas fa-graduation-cap inner-icons"></i></span>
                                                <p>2018 Chemistry</p>
                                            </li>

                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="closed-now">Click Here to Mark Student Attendance</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="modal fade" id="classes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title" id="exampleModalLabel">Select Class</h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" style="color:white;">&times;</span>
                                        </button>
                                    </div>
                                    
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row" style="margin-top:20px;">
                                                <% for(var i=0; i<today.length; i++){ %>
                                                    <div class="col-lg-6 col-md-6 featured-responsive c2">
                                                        <div class="featured-place-wrap"  data-toggle="modal" data-target="#classesMenu">
                                                            <a href="/admin/attendance/<%=today[i].subID%>" class="class-btn" onclick="getClass(this)" id="<%= today[i].subID%>">
                                                                <div class="image">
                                                                    <img src="../images/subjects/maths<%= i%3 %>.jpg" style="height:100%" class="img-fluid" alt="#">
                                                                </div>
                                                                <div class="featured-title-box inner-title">
                                                                    <h6 style="margin:-10px"><%= today[i].year+" - "+today[i].subname%></h6>
                                                                    <div class="bottom-icons">
                                                                        <div class="closed-now">Click Here to Go to The Menu</div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                <% } %>
                                            </div> 
                                        </div>
                                    </div>
                                    <!--<div class="modal-body">-->
                                    <!--    <div class="container-fluid">-->
                                    <!--        <div class="row" style="margin-top:20px;">-->
                                    <!--            <div class="col-lg-6 col-md-6 featured-responsive c2">-->
                                    <!--                <div class="featured-place-wrap">-->
                                    <!--                    <a href="/admin/attendance/mark">-->
                                    <!--                        <div class="image">-->
                                    <!--                            <img src="https://www.tutors.gr/sites/default/files/maths_blackboard.jpg" style="height:100%" class="img-fluid" alt="#">-->
                                    <!--                        </div>-->
                                    <!--                        <div class="featured-title-box inner-title">-->
                                    <!--                            <h6 style="margin:-10px">Maths - 2019 A/L</h6>-->
                                    <!--                            <ul>-->
                                    <!--                                <li><span class="icon-location-pin"></span>-->
                                    <!--                                    <p>Register a new Lecturer</p>-->
                                    <!--                                </li>-->
                                    <!--                            </ul>-->
                                    <!--                        </div>-->
                                    <!--                    </a>-->
                                    <!--                </div>-->
                                    <!--            </div>-->
                                    <!--            <div class="col-lg-6 col-md-6 featured-responsive c2">-->
                                    <!--                <div class="featured-place-wrap">-->
                                    <!--                    <a href="#">-->
                                    <!--                        <div class="image">-->
                                    <!--                            <img src="http://c1.thejournal.ie/media/2013/06/maths-equation-one-million-dollars-390x285.jpg" style="height:100%" class="img-fluid" alt="#">-->
                                    <!--                        </div>-->
                                    <!--                        <div class="featured-title-box inner-title">-->
                                    <!--                            <h6 style="margin:-10px">Maths - 2016 A/L</h6>-->
                                    <!--                            <ul>-->
                                    <!--                                <li><span class="icon-location-pin"></span>-->
                                    <!--                                    <p>Register a new Student</p>-->
                                    <!--                                </li>-->
                                    <!--                            </ul>-->
                                    <!--                        </div>-->
                                    <!--                    </a>-->
                                    <!--                </div>-->
                                    <!--            </div>-->
                                    <!--        </div>-->
                                    <!--    </div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-lg-3 featured-responsive">
                            <div class="featured-place-wrap">
                                <a href="/admin/newsfeeds">
                                    <div class="image">
                                        <img src="https://www.yicaiglobal.com/sites/default/files/%E4%BA%92%E8%81%94%E7%BD%91%E6%96%B0%E9%97%BB%E4%BF%A1%E6%81%AF%E6%9C%8D%E5%8A%A1%E6%96%B0%E8%A7%84%EF%BC%9A%E9%9D%9E%E5%85%AC%E6%9C%89%E8%B5%84%E6%9C%AC%E4%B8%8D%E5%BE%97%E4%BB%8B%E5%85%A5%E9%87%87%E7%BC%96%E4%B8%9A%E5%8A%A1.jpg" class="img-fluid" alt="#">
                                    </div>
                                    <span class="featured-rating-blue"><i class="fas fa-newspaper"></i></span>
                                    <div class="featured-title-box">
                                        <h6>News Feed</h6>
                                        <p>See what's happening at Akura </p>
                                        <ul>
                                            <li><span><i class="fas fa-calendar-alt inner-icons"></i></span>
                                                <p>Holiday notifications</p>
                                            </li>
                                            <li><span><i class="fas fa-clock inner-icons"></i></span>
                                                <p>Class Rescheduling</p>
                                            </li>
                                            <li><span><i class="fas fa-clipboard-list inner-icons"></i></span>
                                                <p>Special Notices</p>
                                            </li>

                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="closed-now">Click Here to Read Latest News</div>
                                        </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>       

<% include ../partials/footer %>