<!DOCTYPE html>
<html lang="en">

<head>
    <title>Stocks</title>
    <!-- Responsive screen size -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- End of responsive screen size -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- End of Bootstrap -->

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">
    <!-- End of Custom Stylesheet -->

    <!-- Sweet Alerts -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- End of Sweet Alerts -->

    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- End of jQuery -->

    <!-- particles -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load('particles-js', '/json/particles.json');
    </script>
    <!-- End of particles -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>

<body>

    <% include ./navbarPartial %>

    <div id="particles-js">
        <div id="overlay">
            <h2 id="topic">Stocks</h2>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#items-tab">Items</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#received-tab">Received</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#issued-tab">Issued</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="content-background">
                    <div class="tab-content">
                        <div class="row tab-pane active" id="items-tab">
                            <div class="col-lg-12">
                                <div class="panel panel-default panel-fill">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-sm-1 control-label label">Unit</label>
                                                <div class="col-sm-4">
                                                    <input id="n-unit" type="text" name="title" placeholder="Unit"
                                                        data-parsley-type="alphanum" minlength="5" class="form-control"
                                                        required>
                                                </div>
                                                <label class="col-sm-1 control-label label">Description</label>
                                                <div class="col-sm-4">
                                                    <input id="n-description" type="text" name="title"
                                                        placeholder="Description" data-parsley-type="alphanum"
                                                        minlength="5" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-1 control-label label">Remarks</label>
                                                <div class="col-sm-4">
                                                    <input id="n-remarks" type="text" name="title" placeholder="Remarks"
                                                        id="remarks" data-parsley-type="alphanum" minlength="5"
                                                        class="form-control" required>
                                                </div>
                                                <button type="submit" id="n-submit-btn" class="btn btn-primary">ADD
                                                    NEW ITEM</button>
                                            </div>
                                        </div>
                                        <div class="container-table100">
                                            <div class="wrap-table100">
                                                <div class="table100">
                                                    <table id="itemsTable"
                                                        style="border:1px solid gray; margin-top:0px">
                                                        <thead>
                                                            <tr class="table100-head">
                                                                <th class="column3">Item ID</th>
                                                                <th class="column3">Description</th>
                                                                <th class="column3">Unit</th>
                                                                <th class="column3">Received Qty</th>
                                                                <th class="column3">Issued Qty</th>
                                                                <th class="column3">In Stock Qty</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% items.forEach((item) => { %>
                                                            <tr>
                                                                <td class="column1"> <%=item.itID %> </td>
                                                                <td class="column2"> <%=item.description %> </td>
                                                                <td class="column3"> <%=item.unit %> </td>
                                                                <td class="column4"> <%=item.receivedQty %> </td>
                                                                <td class="column5"> <%=item.issuedQty %> </td>
                                                                <td class="column5"> <%=item.inStockQty %> </td>

                                                            </tr>
                                                            <% }); %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row tab-pane fade" id="received-tab">
                            <div class="col-lg-12">
                                <div class="panel panel-default panel-fill">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-sm-1 control-label label">Item ID</label>
                                                <div class="col-sm-4">
                                                    <div class="input-group mb-3">
                                                        <input type="text" id="itID" class="form-control" name="itID"
                                                            placeholder="Item ID" aria-label="Recipient's username"
                                                            aria-describedby="basic-addon2" required>
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary" id="check-btn" type="button"
                                                                style="margin-bottom:0;font-size:12px;">CHECK</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2"></div>
                                                <label class="col-sm-1 control-label label">Unit</label>
                                                <div class="col-sm-4 input-group-append">
                                                    <input id="unit" class="form-control" type="text" name="subID"
                                                        readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-1 control-label label">Description</label>
                                                <div class="col-sm-4 input-group-append">
                                                    <input id="description" class="form-control" type="text"
                                                        name="description" readonly>
                                                </div>
                                                <div class="col-sm-2"></div>
                                                <label class="col-sm-1 control-label label">In Stock Qty</label>
                                                <div class="col-sm-4 input-group-append">
                                                    <input id="instock-qty" class="form-control" type="text"
                                                        name="inStockQty" readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-1 control-label label">Received Qty</label>
                                                <div class="col-sm-4 input-group-append">
                                                    <input id="received-qty" class="form-control" type="text"
                                                        name="receivedQty">
                                                </div>
                                                <button type="submit" id="r-submit-btn"
                                                    class="btn btn-primary">ADD</button>
                                            </div>
                                        </div>
                                        <input type="hidden" name="lecturer" id="lecturer" value="lecID">
                                    </div>
                                    <div class="container-table100">
                                        <div class="wrap-table100">
                                            <div class="table100">
                                                <table id="receivedTable" style="border:1px solid gray; margin-top:0px">
                                                    <thead>
                                                        <tr class="table100-head">
                                                            <th class="column3">Item ID</th>
                                                            <th class="column3">Description</th>
                                                            <th class="column3">Unit</th>
                                                            <th class="column3">Quantity</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% console.log(receivedItems) %>
                                                        <% receivedItems.forEach((item) => { %>
                                                        <tr>
                                                            <td class="column1"> <%=item.itID %> </td>
                                                            <td class="column2"> <%=item.description %> </td>
                                                            <td class="column3"> <%=item.unit %> </td>
                                                            <td class="column4"> <%=item.qty %> </td>
                                                        </tr>
                                                        <% }); %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row tab-pane fade" id="issued-tab">
                            <div class="col-lg-12">
                                <div class="panel panel-default panel-fill">
                                    <div class="panel-body">
                        
                                        <div class="container-table100">
                                            <div class="wrap-table100">
                                                <div class="table100">
                                                    <table id="issuedTable" style="border:1px solid gray; margin-top:0px">
                                                        <thead>
                                                            <tr class="table100-head">
                                                                <th class="column3">Item ID</th>
                                                                <th class="column3">Description</th>
                                                                <th class="column3">Unit</th>
                                                                <th class="column3">Quantity</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% issuedItems.forEach((item) => { %>
                                                            <tr>
                                                                <td class="column1"> <%=item.itID %> </td>
                                                                <td class="column2"> <%=item.description %> </td>
                                                                <td class="column3"> <%=item.unit %> </td>
                                                                <td class="column4"> <%=item.qty %>
                                                            </tr>
                                                            <% }); %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        $("#itemsTable").dataTable();
        $("#receivedTable").dataTable();
        $("#issuedTable").dataTable();
    </script>
    <script src="/scripts/adminManageStocks.js"></script>
    <% include ../partials/footer %>