<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Newsfeed</title>
        <!-- Bootstrap -->
            <!-- Responsive screen size -->
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
            <!-- End of responsive screen size -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            
        <!-- End of Bootstrap -->
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
        <link rel="stylesheet" type="text/css" href="../stylesheets/form.css"> 
        <link rel="stylesheet" type="text/css" href="../stylesheets/home.css"> 
        
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Particles -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

        <script>
            particlesJS.load('particles-js', '../json/particles.json')
        </script>
    <!-- End of Particles -->    
    </head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><img id="AkuraBrand"src="https://i.imgur.com/GwaGx2B.png" ></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <ul class="navbar-nav nav-link">
            <a class="links" href="/admin">Home</a>
          </ul>
          <ul class="navbar-nav nav-link"  data-toggle="modal" data-target="#stulec">
            <a class="links" href="#stulec">Register</a>
          </ul>
          <ul class="navbar-nav nav-link">
            <a class="links" href="/admin/payments">Payments</a>
          </ul>
          <ul class="navbar-nav nav-link">
            <a class="links" href="/admin/attendance">Attendance</a>
          </ul>
        </ul>
        
        <a  id="register"href="/login">
          <button class="custombtn btn btn-outline-primary btn-sm" type="submit">Log Out</span></button>
        </a>
      </div>
    </nav>

<div id="particles-js">
    <div id="overlay">
        <h2 id="topic">NEWSFEED</h2>
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" style="margin: 0 auto;">
                        <div class="panel panel-default panel-fill">
                            <div class="panel-body" style="background-color:rgba(0,0,0,0.6); border-radius: 5px;">
                                <div class="row">
                                    <div class="col-lg-12 col-12 comment-main rounded">
                                        <ul class="p-0">
                                            <form class="ui form" action="/admin/newsfeed/new" method="POST">
                                                <li>
                                                    <div class="row comment-box pr-4"  style="padding-top:0px">
                                                        <div class="col-lg-1 col-3 user-img text-center">
                                                            <img src="/../images/users/notFound.png" class="main-cmt-img">
                                                        </div>
                                                        <div class="col-lg-11 col-9 user-comment bg-light rounded pb-1">
                                                            <div class="row">
                                                                <div class="col-lg-12 col-1 border-bottom pr-0">
                                                                    <div class="form-group">
                                                                        <div class="col-lg-1 col-1">
                                                                            <label for="exampleFormControlInput1">Title</label>
                                                                        </div>
                                                                        
                                                                        <div class="col-lg-11 col-1">
                                                                            <input type="text" name="blog[title]" placeholder="title" class="form-control" id="exampleFormControlInput1 title" required>
                                                                        </div>
                                                                    </div>
                                                                          
                                                                    <div class="form-group">
                                                                        <label for="exampleFormControlTextarea1">Content</label>
                                                                        <textarea name="blog[body]" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                                    </div>          
                                                                </div>
                                                            </div> 
                                                            <div class="user-comment-desc p-1 pl-2" style="height:25px">
                                                                <p class="m-0 mr-2"><%=moment(time).format('MMMM Do YYYY, h:mm a');%> by Admin</p>                      
                                                            </div>    
                                                        </div>
                                                    </div>
                                                </li>
                                                <center>
                                                    <button id='postBtn' class="btn btn-primary" style="width:100px">POST</button>
                                                    <button class="btn btn-primary cancel" style="width:100px">CANCEL</button>
                                                </center>
                                            </form>   
                                        </ul>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div> 
            </div>
            <div class="container">
                <div class="panel-body" style="background-color:rgba(0,0,0,0.6); border-radius: 5px; margin-bottom:40px;">                                  
                                                <% for(var i=0; i<posts.length; i++) { %>
                                                    <li>
                                                        <div class="row comment-box p-1 pt-3 pr-4">
                                                            <div class="col-lg-1 col-3 user-img text-center">
                                                                <img src="/../images/users/notFound.png" class="main-cmt-img">
                                                            </div>
                                                            <div class="col-lg-11 col-9 user-comment bg-light rounded pb-1">
                                                                <div class="row">
                                                                    <div class="col-lg-8 col-6 border-bottom pr-0">
                                                                        <h6><%=posts[i].title%></h6>
                                                                        <p class="w-100 p-2 m-0 font-black"><%=posts[i].content%></p>
                                                                    </div>
                                                                    <div class="col-lg-4 col-6 border-bottom">
                                                                        <form id="deletePost" method="POST" action="/admin/newsfeed/delete/<%=posts[i].sch_ID%>">
                                                                            <p class="w-100 p-2 m-0 font-black"><span class="float-right"><i class="fa fa-clock-o mr-1" aria-hidden="true">
                                                                                <button type="button" class="btn btn-danger delNPBtn">Delete</button>
                                                                            </i></span></p>
                                                                        </form>
                                                                    </div>
                                                                </div> 
                                                                <div class="user-comment-desc p-1 pl-2" style="height:25px">
                                                                    <p class="m-0 mr-2">Posted <%=moment(posts[i].created).format('MMMM Do YYYY, h:mm a');%> by Admin</p>                      
                                                                </div>    
                                                            </div>
                                                        </div>
                                                    </li>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>     

<script src="../scripts/newsfeed.js"></script>
<% include ../partials/footer %>