<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <!-- Responsive screen size -->
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <!-- End of responsive screen size -->
        
        <!-- Bootstrap -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- End of Bootstrap -->    
    
        <!-- Google fonts -->
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">

        <!-- Custom Stylesheet -->
            <link rel="stylesheet" type="text/css" href="/stylesheets/form.css"> 
        <!-- End of Custom Stylesheet -->    
        
        <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- End of jQuery -->  
        
        <!-- particles -->
            <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <!-- End of particles -->  
    
        <script>
            particlesJS.load('particles-js', '/json/particles.json');
        </script>
    </head>
<body>
<!--Calculationfor A/L Year-->
    <% var years = new Date().getFullYear();   %>
<!--End of calculating the years for hisroty-->

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><img id="AkuraBrand"src="https://i.imgur.com/GwaGx2B.png" ></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <ul class="navbar-nav nav-link">
            <a class="links" href="/admin">Home</a>
          </ul>
          <ul class="navbar-nav nav-link">
            <a class="links" href="/admin/payments">Payments</a>
          </ul>
          <ul class="navbar-nav nav-link">
            <a class="links" href="/admin/attendance">Attendance</a>
          </ul>
          <ul class="navbar-nav nav-link">
            <a class="links" href="/admin/newsfeeds">Newsfeed</a>
          </ul>
        </ul>
        
        <a  id="register"href="/login">
          <button class="custombtn btn btn-outline-primary btn-sm" type="submit">Log Out</span></button>
        </a>
      </div>
    </nav>

<div id="particles-js">
    <div id="overlay">
        <h2 id="topic">ENTER MARKS</h2>
            
        <div class="container">
            <div id="content-background">
                <div class="tab-content">
                    <div class="row tab-pane active" id="newStudent">
                        <div class="col-lg-12">
                            <div class="panel panel-default panel-fill">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Subjcet <%= enrolment[0].subID %> - Assignment Information</h3>
                                </div>
                                <form action="/admin/register/new" id="registernew" method="POST">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-sm-1 control-label label">Title</label>
                                                <div class="col-sm-4">
                                                    <input type="text" name="firstname" placeholder="First Name" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container-table100">
                                    	<div class="wrap-table100">
                                    		<div class="table100">
                                    			<table>
                                    				<thead>
                                    					<tr class="table100-head">
                                    						<th class="column1">#</th>
                                    						<th class="column2">Student ID</th>
                                    						<th class="column3">Name</th>
                                    						<th class="column4">Average</th>
                                    						<th class="column5">Add Marks</th>
                                    						
                                    					</tr>
                                    				</thead>
                                    				<tbody>
                                                        <% for(var i=0; i<enrolment.length; i++){ %>
                                                            <tr>
                                                                <td class="column1"><%=i+1 %></td>
                                                            	<td class="column2" style="width:300px"><%=enrolment[i].stID%></td>
                                                            	<td class="column3" style="width:300px"><%=enrolment[i].name%></td>
                                                            	<td class="column4" style="width:200px"><%=enrolment[i].average%></td>
                                                            	<td class="column5" style="width:300px"><input type="text" name="marks" placeholder="Enter Mark" class="form-control" style="width:280px; margin-bottom:0;"></td>
                                                            </tr>
                                                        <% } %>
                                                        
                                                    </tbody>
                                    			</table>
                                    		</div>
                                    	</div>
                                    </div>

                    
                                </form>
                            </div>
                        </div>
                    </div>
                    <center>
                        <div class="form-group">
                            <button type="submit" id="submitbtn" class="btn btn-primary">ADD MARKS</button>
                        </div>
                    </center>
                </div> 
            </div>
        </div>
    </div>
</div>

<script src="/scripts/register.js"></script>
<% include ../partials/footer %>