<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Income</title>
        <!-- Bootstrap -->
            <!-- Responsive screen size -->
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
            <!-- End of responsive screen size -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            
        <!-- End of Bootstrap -->
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
        <link rel="stylesheet" type="text/css" href="../stylesheets/form.css"> 
        
    <!-- Particles -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

        <script>
            particlesJS.load('particles-js', '../json/particles.json')
        </script>
    <!-- End of Particles -->    
    
    <!-- For Charts -->  
        <script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
		<script> 
		    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
		    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];
		</script>
	<!-- End of For Charts --> 
	
    </head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img id="AkuraBrand"src="https://i.imgur.com/GwaGx2B.png" ></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <ul class="navbar-nav nav-link">
            <a class="links" href="/lecturer">Home</a>
          </ul>
          <ul class="navbar-nav nav-link">
            <a class="links" href="/lecturer/income">Payments</a>
          </ul>
          <ul class="navbar-nav nav-link">
            <a class="links" href="/lecturer/newsfeeds">Newsfeed</a>
          </ul>
        </ul>
    
    <% if(!currentUser){ %>
            <a  id="register"href="/login">
                <button class="custombtn btn btn-outline-primary btn-sm" type="submit">Log In</span></button>
            </a>
        <% } else { %>
            <ul class="navbar-nav nav-link">
                <a id="user" class="links" href="#"> Signed in as
                    <%= currentUser.username %> 
                </a>
            </ul>
            <ul class="navbar-nav nav-link">
                <a  id="register"href="/logout">
                    <button class="btn btn-outline-primary btn-sm custombtn" type="submit">Logout</button>
                </a>
            </ul>
        <% } %>
  </div>
</nav>
<div id="particles-js">
    <div id="overlay">
        <h2 id="topic">PAYMENTS<%=[fees[0]]%></h2>
        <div class="wrapper">
            <div class="container">
              
              
              
              
              <!--Enter chart here -->
                            <div id='myChart'><a class="zc-ref"></a></div>
                            <div class="table">
                            </div>
              
              
                <div class="container-table100" style="margin-top:0px;">
            			<div class="wrap-table100">
            				<div class="table100">
            					<table>
            						<thead>
            							<tr class="table100-head">
            							  <th class="column1">Year</th>
            								<th class="column1">Month</th>
            								<th class="column2">Subject ID</th>
            								<th class="column8">AL Year</th>
            								<th class="column3">Subject</th>
            								<th class="column9">Monthly Fee</th>
            								<th class="column4">#Enrolments</th>
            								<th class="column5">Gross Income (Rs.)</th>
            								<th class="column6">Maintenance (Rs.)</th>
            								<th class="column7">Net Income (Rs.)</th>
            							</tr>
            						</thead>
            						<tbody>
            						  <%incomes.forEach(function(income){%>
            						    <tr>
            						      <td class="column1"><%=income.year%></td>
            									<td class="column1 "><b><%=income.month%></b></td>
            									<td class="column2"><%=income.subID%></td>
            									<td class="column8"><%=income.ALyear%></td>
            									<td class="column3"><%=income.subname%></td>
            									<td class="column3"><%=income.fee%></td>
            									<td class="column4"><%=income.num%></td>
            									<td class="column5"><%=income.totalfee%></td>
            									<td class="column6"><%=income.totalfee/4%></td>
            									<td class="column7"><b><%=income.totalfee-income.totalfee/4%></b></td>
            								</tr>
            						  <%});%>
            						</tbody>
            					</table>
            				</div>
            		</div>
            	</div>
            	
            <center>
              <a href="/student"><button class="btn btn-primary" style="width:100px;margin-bottom:20px;">OKAY</button></a>
            </center>
            </div>
            </div>
        </div>
    </div>
</div>       

<script>
    var myConfig = {
      type: "line",
      stacked: true,
      title: {
        text: "Net Income",
        fontColor: "#424242",
        adjustLayout: true,
        marginTop: 15
      },
      plot: {
        aspect: "spline",
        alphaArea: 0.6
      },
      plotarea: {
        margin: "dynamic"
      },
      tooltip: {
        visible: false
      },
      scaleY: {
        short: true,
        shortUnit: 'k',
        lineColor: "#AAA5A5",
        tick: {
          lineColor: "#AAA5A5"
        },
        item: {
          fontColor: "#616161",
          paddingRight: 5
        },
        guide: {
          lineStyle: "dotted",
          lineColor: "#AAA5A5"
        },
        label: {
          text: "Rs.",
          fontColor: "#616161"
        }
      },
      scaleX: {
        lineColor: "#AAA5A5",
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug","Sep","Oct","Nov","Dec"],
        tick: {
          lineColor: "#AAA5A5"
        },
        item: {
          fontColor: "#616161",
          paddingTop: 5
        },
        label: {
          text: "2018",
          fontColor: "#616161"
        }
      },
      crosshairX: {
        lineColor: "#AAA5A5",
        plotLabel: {
          backgroundColor: "#EBEBEC",
          borderColor: "#AAA5A5",
          borderWidth: 2,
          borderRadius: 2,
          thousandsSeparator: ',',
          fontColor: '#616161'
        },
        scaleLabel: {
          backgroundColor: "#EBEBEC",
          borderColor: "#AAA5A5",
          fontColor: "#424242"
        }
      },
      series: [{
        values: [ 0, 0, 0, 0, 0, 0, 0, 0, 4000, 4000, 0, 0 ],
        text: "Com. Math I",
        backgroundColor: "#4CAF50",
        lineColor: "#10594b",
        marker: {
          backgroundColor: "#10594b",
          borderColor: "#4CAF50"

        }
      },{
        values: [0,0,0,0,0,0,0,6000,6000,2000,0,0],
        text: "Com. Math II",
        backgroundColor: "#4CAF50",
        lineColor: "#4caf9c",
        marker: {
          backgroundColor: "#4caf9c",
          borderColor: "#4CAF50"

        }
      }
      
      ]
    };

    zingchart.render({
      id: 'myChart',
      data: myConfig,
    });
  </script>
<% include ../partials/footer %>