<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <!-- Bootstrap -->
            <!-- Responsive screen size -->
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
            <!-- End of responsive screen size -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            
        <!-- End of Bootstrap -->
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
        <link rel="stylesheet" type="text/css" href="../stylesheets/home.css"> 
        
    <!-- Particles -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

        <script>
            particlesJS.load('particles-js', '../json/particles.json')
        </script>
        
        <script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
        <script src= "https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		<script> 
		    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
		    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];
		    
		</script>
    <!-- End of Particles -->    
    </head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img id="AkuraBrand"src="https://i.imgur.com/GwaGx2B.png" ></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    
    <% if(!currentUser){ %>
            <a  id="register"href="/login">
                <button class="custombtn btn btn-outline-primary btn-sm" type="submit">Log In</span></button>
            </a>
        <% } else { %>
            <ul class="navbar-nav nav-link">
                <a id="user" style="margin-right:20px" class="links" href="#">
                    <%= currentUser.username %> 
                </a>
            </ul>
            <ul class="navbar-nav nav-link">
                <a  id="register"href="/logout">
                    <button class="btn btn-outline-primary btn-sm custombtn" type="submit">Logout</button>
                </a>
            </ul>
        <% } %>
  </div>
</nav>

<div id="particles-js">
    <div id="overlay" style="width:100%">
    <!--============================= DETAIL =============================-->
    <h2 id="topic" style="margin-bottom:10px"></h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-5 responsive-wrap">
                    <div class="row">
                        <div class="col-lg-11 featured-responsive c2" style=" margin: 0 auto;">
                            <div class="featured-place-wrap">
                                <a href="/superadmin/income">
                                    <div class="image" style="height:135px;">
                                        <img src="https://img-aws.ehowcdn.com/877x500p/photos.demandstudios.com/getty/article/64/204/466559183.jpg" class="img-fluid" alt="#" style="position: relative; top:-60px">
                                    </div>
                                    <span class="featured-rating-yellow"><i class="fas fa-money-bill-alt"></i></span>
                                    <div class="featured-title-box" style="height:130px;">
                                        <h6>Income</h6>
                                        <p>View a complete income analysis </p>
                                        <div class="bottom-icons">
                                            <div class="closed-now">Click Here to View Your Income</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-lg-11 featured-responsive c2" style=" margin: 0 auto;" data-toggle="modal" data-target="#classes">
                            <div class="featured-place-wrap">
                                <a href="/superadmin/results">
                                    <div class="image" style="height:135px;">
                                        <img src="https://www.northeastern.edu/levelblog/wp-content/uploads/2017/08/photodune-19088615-business-people-meeting-data-analysis-planning-concept-xxl-1068x712.jpg" class="img-fluid" alt="#" style="position: relative; top:-110px">
                                    </div>
                                    <span class="featured-rating-green"><i class="fas fa-book-open"></i></span>
                                    <div class="featured-title-box" style="height:130px;">
                                        <h6>Results</h6>
                                        <p>Reports</p> <span>• </span>
                                        <p>Lecturers</p> <span> • </span>
                                        <p>Performances</p>
                                        <div class="bottom-icons">
                                            <div class="closed-now">View A Complete Results Analysis</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 responsive-wrap">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card featured-place-wrap">
                                
                                <div class="row" style="height:120px;vertical-align:center;background-color:rgba(0,0,0,.4)">
                                    <div class="col-lg-4">
                                        <p><i class="fas fa-user-graduate" style="font-size:80px;padding-top:20px"></i></p>
                                    </div>
                                    <div class="col-lg-8">
                                        <h2 style="padding-top:15px"><%= nos[0].numOfStudents %></h2>
                                        <p style="font-size:18px;">Students are learning in Akura</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-lg-6">
                            <div class="card featured-place-wrap">
                            
                                 <div class="row" style="height:120px;vertical-align:center;background-color:rgba(0,0,0,.4)">
                                    <div class="col-lg-4">
                                        <p><i class="fas fa-user-tie" style="font-size:80px;padding-top:20px"></i></p>
                                    </div>
                                    <div class="col-lg-8">
                                        <h2 style="padding-top:15px"><%= nol[0].numOfLecturers %></h2>
                                        <p style="font-size:18px;">Lecturers are lecturing in Akura</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id='income' style="height:385px" class="featured-place-wrap"></div>
                </div> 
            </div>
        </div>
    </div>
</div>                     

<script>
    var nol = <%-JSON.stringify(nol)%>;
    var nos = <%-JSON.stringify(nos)%>;
    var incomes = <%-JSON.stringify(incomes)%>;

    var myConfig = {
        "title": {
            "text":"Income Comparisson"
        },
        "type": "line",
        "plot":{
            "aspect":"spline"
            
        },
        "scaleX":{
            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug","Sep","Oct","Nov","Dec"],
            "label":{
              "text":"2019"  
            }
        },
        "series": []
    };
    
    var classAr=[]
    var value=[0,0,0,0,0,0,0,0,0,0,0,0]
    var months=['January','February','March','April','May','June','July','August','September','October','November','December'];
    var details={}
    var visited=false
    
    incomes.forEach(function(income){
      if (classAr.indexOf(income.subID) === -1){ // new class
        if(visited){ //if class array is not empty, we have to add that class into the series
          details = {
            values: value,
            text: classAr[classAr.length-1]
          }
          
          myConfig.series.push(details) 
          classAr.push(income.subID); 
          value=[0,0,0,0,0,0,0,0,0,0,0,0]
        }
        visited=true
      }
        
      value[months.indexOf(income.month)]=income.amount //add the income of the record
   })            
 
    details = {
        values: value,
        text: income.subID
    }
      
    myConfig.text = income.year
    myConfig.series.push(details)
      
    console.log(classAr)
    zingchart.render({ 
    	id : 'income', 
    	data : myConfig,
    	height: 360, 
        width: '100%'
    });
</script>


<% include ../partials/footer %>