<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <!-- Bootstrap -->
            <!-- Responsive screen size -->
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
            <!-- End of responsive screen size -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            
        <!-- End of Bootstrap -->
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
        <link rel="stylesheet" type="text/css" href="../stylesheets/home.css"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        
    <!-- Particles -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

        <script>
            particlesJS.load('particles-js', '../json/particles.json');
        </script>
        
    <!-- End of Particles -->
    </head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img id="AkuraBrand"src="https://i.imgur.com/GwaGx2B.png" ></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
     <ul class="nav navbar-nav navbar-right">
           <% if(!currentUser){ %>
    <a  id="register"href="/login">
      <button class="custombtn btn btn-outline-primary btn-sm" type="submit">Log In</span></button>
    </a>
   <% } else { %>
    <ul class="navbar-nav nav-link">
        <a class="links"  href="/student/profile">
          <%=currentUser.username%> 
          <img src="../images/users/<%=currentUser.username%>.jpg" class="rounded-circle border user-image" alt="profile-image" id="img">
        </a>
    </ul>
    <ul class="navbar-nav nav-link">
    <a  id="register"href="/logout">
      <button class="btn btn-outline-primary btn-sm custombtn" type="submit">Logout</button>
    </a>
    </ul>
    <% } %>
  </div>
</nav>
<div id="particles-js">
    <div id="overlay" style="width:100%">
    <h2 id="topic" style="margin-bottom:20px">HOME</h2>
    <!--============================= DETAIL =============================-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-5 responsive-wrap">
                    <div class="row">
                        <div class="col-lg-11 featured-responsive c2" style=" margin: 0 auto;">
                            <div class="featured-place-wrap">
                                <a href="/student/payments">
                                    <div class="image" style="height:120px;">
                                        <img src="https://i.pinimg.com/originals/a5/d2/1a/a5d21aab5e18630975ae7e02eaa37af2.jpg" class="img-fluid" alt="#" style="position: relative; top:-60px">
                                    </div>
                                    <span class="featured-rating-yellow"><i class="fas fa-money-bill-alt"></i></span>
                                    <div class="featured-title-box" style="height:120px;">
                                        <h6>Payments</h6>
                                        <p>View payment history </p>
                                        <div class="bottom-icons">
                                            <div class="closed-now">Click Here to View Your Payments</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-lg-11 featured-responsive c2" style=" margin: 0 auto;" data-toggle="modal" data-target="#classes">
                            <div class="featured-place-wrap">
                                <a href="#">
                                    <div class="image" style="height:120px;">
                                        <img src="https://www.touteleurope.eu/fileadmin/_processed_/0/7/politique-euro-formation-education-a387ed0502.jpg" class="img-fluid" alt="#" style="position: relative; top:-110px">
                                    </div>
                                    <span class="featured-rating-green"><i class="fas fa-book-open"></i></span>
                                    <div class="featured-title-box" style="height:120px;">
                                        <h6>Course Content</h6>
                                        <p>Slides</p> <span>• </span>
                                        <p>Questions</p> <span> • </span>
                                        <p>Answers</p>
                                        <div class="bottom-icons">
                                            <div class="closed-now">View Course Content of Your Classes</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 responsive-wrap">
                    <div class="row">
                        <div class="col-lg-12" style="margin: 0 auto;">
                            <div class="panel panel-default panel-fill">
                                <div class="panel-body" style="background-color:rgba(0,0,0,0.5); border-radius: 5px; margin-bottom:30px;">
                                    <div class="row">
                                        <div class="col-lg-12 col-12 comment-main rounded">
                                            <ul class="p-0">
                                                <% for(var i=0; i<posts.length; i++) { %>
                                                    <li>
                                                        <div class="row comment-box p-1 pt-3 pr-4">
                                                            <div class="col-lg-1 col-3 user-img text-center">
                                                                <img src="/../images/users/admin.png" style="margin-left:10px;" class="main-cmt-img">
                                                            </div>
                                                            <div class="col-lg-11 col-9 user-comment bg-light rounded pb-1">
                                                                <div class="row">
                                                                    <div class="col-lg-12 col-12 border-bottom pr-0">
                                                                        <h6 style="padding-top:5px; font-size:15px"><%=posts[i].title%></h6>
                                                                        <p class="w-100 m-0 font-black"><%=posts[i].content%></p>
                                                                    </div>
                                                                </div> 
                                                                <div class="user-comment-desc p-1 pl-2" style="height:25px;">
                                                                    <p class="m-0 mr-2" style="font-size:12px">Posted <%=moment(posts[i].created).format('MMMM Do YYYY, h:mm:ss a');%> by Admin</p>                      
                                                                </div>    
                                                            </div>
                                                        </div>
                                                    </li>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>                     
            
                        
                        
                        
<div class="modal fade" id="classes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">Select Class</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white;">&times;</span>
                </button>
            </div>
    
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row" style="margin-top:20px;">
                        <% for(var i=0; i<myself.length; i++){ %>
                            <div class="col-lg-6 col-md-6 featured-responsive c2">
                                <div class="featured-place-wrap"  data-toggle="modal" data-target="#classesMenu">
                                    <a href="#" class="class-btn" onclick="getClass(this)" id="<%= myself[i].subID%>">
                                        <div class="image">
                                            <img src="../images/subjects/maths<%= i%3 %>.jpg" style="height:100%" class="img-fluid" alt="#">
                                        </div>
                                        <div class="featured-title-box inner-title">
                                            <h6 style="margin:-10px"><%= myself[i].year+" - "+myself[i].subname%></h6>
                                            <div class="bottom-icons">
                                                <div class="closed-now">Click Here to Go to The Menu</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                        
<div class="modal fade" id="classesMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg class-menu" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">Class Menu</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white;">&times;</span>
                </button>
            </div>
    
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row" style="margin-top:20px;">
                        <div class="col-lg-4 col-md-4 featured-responsive c2">
                            <div class="featured-place-wrap">
                                <a href="#" onclick="discussions()">
                                    <div class="image">
                                        <img src="https://media.glassdoor.com/l/c4/b0/4d/1f/discussion-time.jpg" class="img-fluid" alt="#">
                                    </div>
                                    <div class="featured-title-box inner-title">
                                        <h6 style="margin:-10px">Discussion Forums</h6>
                                        <ul>
                                            <li><span class="icon-location-pin"></span>
                                                <p>Discuss problems with your friends</p>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 featured-responsive c2">
                            <div class="featured-place-wrap">
                                <a href="#" onclick="content()">
                                    <div class="image">
                                        <img src="https://itradeico.com/wp-content/uploads/2018/06/books-1024x535.png" style="height:100%" class="img-fluid" alt="#">
                                    </div>
                                    <div class="featured-title-box inner-title">
                                        <h6 style="margin:-10px">View Course Content</h6>
                                        <ul>
                                            <li><span class="icon-location-pin"></span>
                                                <p>Download course related notes</p>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 featured-responsive c2">
                            <div class="featured-place-wrap">
                                <a href="#" onclick="results()">
                                    <div class="image">
                                        <img src="https://www.dbs.com.sg/iwov-resources/images/sgsme/dbscontent/freetext/wc-articles/financial-planning-analysis.jpg" style="height:100%" class="img-fluid" alt="#">
                                    </div>
                                    <div class="featured-title-box inner-title">
                                        <h6 style="margin:-10px">View Results</h6>
                                        <ul>
                                            <li><span class="icon-location-pin"></span>
                                                <p>View an analysis of results</p>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>      

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="../scripts/studentHome.js"></script>
<% include ../partials/footer %>