<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from https://bootdey.com  -->
    <!--  All snippets are MIT license https://bootdey.com/license -->
    <title>My Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../stylesheets/profile.css">
    
    <!-- Particles -->    
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

        <script>
            particlesJS.load('particles-js', '../json/particles.json')
        </script>
        
        
    <!-- End of Particles --> 
</head>
<body> 

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar">----</span>
        <span class="icon-bar">----</span>
        <span class="icon-bar">----</span>
      </button>
      <a class="navbar-brand" href="/"><img id="AkuraBrand"src="https://i.imgur.com/GwaGx2B.png" ></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
      <ul class="navbar-nav nav-link">
        <a class="links" href="/student">Home</a>
      </ul>
      <ul class="navbar-nav nav-link">
        <a class="links" href="/student/payments">Payments</a>
      </ul>
      <ul class="navbar-nav nav-link">
        <a class="links" href="/student/content">Course Content</a>
      </ul>
      <ul class="navbar-nav nav-link">
        <a class="links" href="/student/newsfeeds">Newsfeed</a>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
           <% if(!currentUser){ %>
    <a  id="register"href="/login">
      <button class="custombtn btn btn-outline-primary btn-sm" type="submit">Log In</span></button>
    </a>
   <% } else { %>
   
        <a id="user" class="links" href="/student/profile"> Signed in as
        <%= currentUser.username %> 
        <img src="../images/users/<%=currentUser.username%>.jpg" class="img-rounded border" alt="profile-image" style="max-height: 50px; max-width: 50px; border-radius: 50px; border-width: 5px" id="img">
    </a>
    <a  id="register"href="/logout">
      <button class="btn btn-outline-primary btn-sm custombtn" type="submit">Logout</button>
    </a>
    <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="particles-js">
        <div id="overlay">
    <div class="wrapper">
        <div class="container">
    
            <div class="wraper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="bg-picture text-center">
                            <div class="bg-picture-overlay"></div>
                            <div class="profile-info-name">
                                <img src="../images/users/<%=currentUser.username%>.jpg" class="thumb-lg img-circle img-thumbnail" alt="profile-image" id="img">
                                <h3 class="text-white"><%=details[0].name%></h3>
                            </div>
                        </div>
                        <!--/ meta -->
                    </div>
                </div>
                <div class="row user-tabs">  
                    <ul class="nav nav-tabs tabs" style="width: 100%;">
                        <li class="tab" style="width: 25%;">
                            <a href="#settings-2" data-toggle="tab" aria-expanded="false" class="active">
                                <span class="hidden-xs">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                            <div class="tab-pane" id="settings-2">
                                <form  action="/student/profile" name="personalinfo" method="POST" >
                                <div class="panel panel-default panel-fill">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Personal info</h3>
                                    </div>
                                    <div class="panel-body">
                                      <div class="form-group">
                                        <label class="col-sm-2 control-label">Name</label>
                                        <div class="col-sm-10">
                                          <input type="text" id="name2" name="name" value="<%= details[0].name %>" class="form-control" required>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-sm-2 control-label">School</label>
                                        <div class="col-sm-10">
                                          <input type="text" id='school2' name="school" value="<%= details[0].school %>" class="form-control">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-sm-2 control-label">Gender</label>
                                        <div class="col-sm-10">
                                          <label class="radio-inline"  style="margin-right: 20px"><input type="radio" name="optradio" checked;>Male</label>
                                          <label class="radio-inline"><input type="radio" name="optradio">Female</label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            
                                  <div class="panel panel-default panel-fill">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Contact info</h3>
                                    </div>
                                    <div class="panel-body">
                                      <div class="form-group">
                                        <label class="col-sm-2 control-label">Residence</label>
                                        <div class="col-sm-10">
                                            <% if(details[0].teleres!=0) %>
                                          <input type="tel" id='teleres' name="teleres" value="<%= details[0].teleres %>" class="form-control">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-sm-2 control-label">Mobile</label>
                                        <div class="col-sm-10">
                                            <% if( details[0].mob!=0) %>
                                          <input type="tel" id='telemob' name="telemob" value="<%= details[0].telemob %>" class="form-control">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                          <input type="email" id='email2' name="email" value="<%= details[0].email%>" class="form-control" required>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-sm-2 control-label">Address</label>
                                        <div class="col-sm-10">
                                          <textarea rows="3" id='address2' name="address" value="<%= details[0].address %>" class="form-control"></textarea>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            
                                  <div class="panel panel-default panel-fill">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Security</h3>
                                    </div>
                                    <div class="panel-body">
                                      <div class="form-group">
                                        <label class="col-sm-2 control-label">Current password</label>
                                        <div class="col-sm-10">
                                          <input type="password" name="curpwd" class="form-control">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-sm-2 control-label">New password</label>
                                        <div class="col-sm-10">
                                          <input type="password" name="newpwd" class="form-control">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                   </form>
                                  <center><div>
                                          <button id='submitBtn' type="submit" class="btn btn-primary" style="width:100px;">Submit</button>
                                          <button type="reset" class="btn btn-primary cancel" style="width:100px;">Cancel</button>
                                        </div></center>
                                <!-- Personal-Information -->
                               
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Footer -->
            </div>
            <!-- end container -->
        </div>
        <!-- end wrapper -->
    </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="../scripts/profile.js"></script>
<% include ../partials/footer %>