<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Payments</title>
        <!-- Bootstrap -->
            <!-- Responsive screen size -->
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
            <!-- End of responsive screen size -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
        <!-- End of Bootstrap -->
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
        <link rel="stylesheet" type="text/css" href="../stylesheets/form.css"> 
        
    <!-- Particles -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

        <script>
            particlesJS.load('particles-js', '../json/particles.json')
        </script>
    <!-- End of Particles -->    
        <script src= "https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    </head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img id="AkuraBrand"src="https://i.imgur.com/GwaGx2B.png" ></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <ul class="navbar-nav nav-link">
        <a class="links" href="/student">Home</a>
      </ul>
      <ul class="navbar-nav nav-link">
        <a class="links" href="/student/profile">Profile</a>
      </ul>
      <ul class="navbar-nav nav-link">
        <a class="links" href="/student/content">Course Content</a>
      </ul>
      <ul class="navbar-nav nav-link">
        <a class="links" href="/student/newsfeeds">Newsfeed</a>
      </ul>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
           <% if(!currentUser){ %>
    <a  id="register"href="/login">
      <button class="custombtn btn btn-outline-primary btn-sm" type="submit">Log In</span></button>
    </a>
   <% } else { %>
    <ul class="navbar-nav nav-link">
        <a id="user" class="links" href="/student/profile"> Signed in as
        <%= currentUser.username %> 
        <img src="../images/users/<%=currentUser.username%>.jpg" class="rounded-circle border" alt="profile-image" style="max-height: 50px; max-width: 50px;" id="img">
    </a>
    </ul>
    <ul class="navbar-nav nav-link">
    <a  id="register"href="/logout">
      <button class="btn btn-outline-primary btn-sm custombtn" type="submit">Logout</button>
    </a>
    </ul>
    <% } %>
  </div>
</nav>
<div id="particles-js">
    <div id="overlay">
        <h2 id="topic">PAYMENTS</h2>
        <% var months = ["January", "February", "March", "April", "May", "June", "July", "Auguest", "September", "October", "November", "December"] %>
        <% var today = new Date(); %>
        <% var thisMonth = today.getMonth() %>
        <% var thisYear = today.getFullYear() %>
        <div class="wrapper">
            <div class="container">
                <h4 style="margin-bottom:15px">Due Payments</h4>
            		<div class="container-table100" style="margin-top:0px;">
            			<div class="wrap-table100">
            				<div class="table100">
            					<table>
            						<thead>
            							<tr class="table100-head" style="background-color:#931515">
            								<th class="column3">Subject</th>
            								<th class="column3">Medium</th>
            								<th class="column3">Day</th>
            								<th class="column3">Payment date</th>
            								<th class="column3">Last paid month</th>
            								<th class="column3">Amount (Rs.) </th>
            							</tr>
            						</thead>
            						<tbody>
            						  <%payments.forEach(function(payment){%>
            						    <% if( ( (thisMonth>months.indexOf(payment.month)) && thisYear==payment.date.getFullYear()) || thisYear>payment.date.getFullYear() ) { %>
              						    <tr>
              									<td class="column1"><%=payment.subname%></td>
              									<td class="column2"><%=payment.medium%></td>
              									<td class="column3"><%=payment.day%></td>
              									<td class="column4"><%=(payment.date).toDateString();%></td>
              									<td class="column5"><%=payment.month%></td>
              									<td class="column6"><%=payment.amount%></td>
              								</tr>
            								<% } %>
            						  <% }) %>
            						</tbody>
            					</table>
            				</div>
            		</div>
            	</div>
            </div>
            
            <div class="container">
              <h4 style="margin-bottom:15px">Payment History</h4>
            		<div class="container-table100" style="margin-top:0px;">
            			<div class="wrap-table100">
            				<div class="table100">
            					<table id="pTable">
            						<thead>
            							<tr class="table100-head">
            								<th class="column3">Subject</th>
            								<th class="column3">Medium</th>
            								<th class="column3">Day</th>
            								<th class="column3">Payment date</th>
            								<th class="column3">Payment month</th>
            								<th class="column3">Amount (Rs.) </th>
            							</tr>
            						</thead>
            						<tbody>
            						  <%payments.forEach(function(payment){%>
            						    <tr>
            									<td class="column1"><%=payment.subname%></td>
            									<td class="column2"><%=payment.medium%></td>
            									<td class="column3"><%=payment.day%></td>
            									<td class="column4"><%=(payment.date).toDateString();%></td>
            									<td class="column5"><%=payment.month%></td>
            									<td class="column6"><%=payment.amount%></td>
            								</tr>
            						  <%});%>
            						</tbody>
            					</table>
            				</div>
            		</div>
            	</div>
            	
              <center>
                <a href="/student"><button class="btn btn-primary" style="width:100px;margin-bottom:20px;">OKAY</button></a>
              </center>
            </div>
        </div>
    </div>
</div>       
<script>
  var payments = <%-JSON.stringify(payments)%>;
  $('#pTable').DataTable();
  
  console.log(payments)
  
</script>
<% include ../partials/footer %>