<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Course Content</title>
        <!-- Responsive screen size -->
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <!-- End of responsive screen size -->
        
        <!-- Bootstrap -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        <!-- End of Bootstrap -->  
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <!-- Google fonts -->
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">

        <!-- Custom Stylesheet -->
            <link rel="stylesheet" type="text/css" href="/stylesheets/form.css"> 
            <script src="/scripts/lecturerCourseContent.js"></script>
        <!-- End of Custom Stylesheet -->    
        
        <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- End of jQuery -->  
        
        <!-- particles -->
            <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <!-- End of particles -->  
    
        <script>
            particlesJS.load('particles-js', '/json/particles.json');
        </script>
    </head>
<body>
<!--Calculationfor A/L Year-->
    <% var years = new Date().getFullYear();   %>
<!--End of calculating the years for hisroty-->

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><img id="AkuraBrand"src="https://i.imgur.com/GwaGx2B.png" ></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav mr-auto">
              <ul class="navbar-nav nav-link">
                <a class="links" href="/student">Home</a>
              </ul>
              <ul class="navbar-nav nav-link">
                <a class="links" href="/student/profile">Profile</a>
              </ul>
              <ul class="navbar-nav nav-link">
                <a class="links" href="/student/payments">Payments</a>
              </ul>
              <ul class="navbar-nav nav-link">
                <a class="links" href="/student/newsfeeds">Newsfeed</a>
              </ul>
            </ul>
        
        <a  id="register"href="/login">
          <button class="custombtn btn btn-outline-primary btn-sm" type="submit">Log Out</span></button>
        </a>
      </div>
    </nav>

<div id="particles-js">
    <div id="overlay">
        <h2 id="topic">DISCUSSION FORUM</h2>
        <div class="container">
            <div id="content-background">
                <form action="/student/discussions/<%=section[0].subID%>" method="POST" ref='uploadForm' onsubmit="return validateForm()" id='uploadForm' encType="multipart/form-data">
                    <div class="panel panel-default panel-fill">
                        <div class="panel-heading">
                            <h3 class="panel-title">Add New Post - Subject </h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-1 control-label label">Section</label>
                                    <div class="col-sm-4">
                                        <select name="sub_section">
                                        <% for(var i=0;i<section.length;i++){%>
                                            <option value="<%=section[i].title%>"> <%=section[i].title%> </option>
                                        <% }; %>
                                        </select>
                                    </div>
                                    <div class="col-sm-2"></div>
                                    <label class="col-sm-1 control-label label">Title</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="title" placeholder="Title" class="form-control" required>
                                    </div>
                                </div>
                                    
                                <div class="row">    
                                    <label class="col-sm-1 control-label label" style="margin-top:25px">Problem</label>
                                    <div class="col-sm-11">
                                        <input type="text" name="desc" placeholder="Description" class="form-control" style="margin-top:25px" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <center>
                        <div class="form-group">
                            <button type="submit" id="submitbtn" class="btn btn-primary">START DISCUSSION</button>
                        </div>
                    </center>
                </form>
            </div>
            <div id="content-background" style="margin-bottom:20px">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default panel-fill">
                            <div class="panel-heading">
                                <h3 class="panel-title">Filter Posts</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    
                                </div> <!-- col // -->
                            </div> <!-- row.// -->
                        </div>
                    </div><br>
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default panel-fill">
                            <div class="panel-body" style="background-color:#217fdd21">
                                <div class="row">
                                    <div class="col-lg-12 col-12 comment-main rounded">
                                      <ul class="p-0">
                                        <li>
                                            <% var section = '' %>
                                            <div class="panel-heading">
                                                <h3 class="panel-title"><%= posts[0].sub_sec %></h3>
                                            </div>
                                            <% var section = posts[0].sub_sec%>
                                            
                                             <% for(var i=0; i<posts.length; i++) { %>
                                                
                                                <% if (section != posts[i].sub_sec) {%>
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title"><%= posts[i].sub_sec %></h3>
                                                    </div>
                                                    <% var section = posts[i].sub_sec %>
                                                <% } %>
                                    
                                            <div class="row comment-box p-1 pt-3 pr-4">
                                              <div class="col-lg-1 col-3 user-img text-center">  
                                                <img src="/../images/users/<%=posts[i].author%>.jpg" class="main-cmt-img">
                                              </div>
                                              <div class="col-lg-11 col-9 user-comment bg-light rounded pb-1">
                                                   <div class="row">
                                                         <div class="col-lg-8 col-6 border-bottom pr-0">
                                                             <h6 style="padding-top:5px; font-size:15px"><%=posts[i].title%></h6>
                                                            <p class="w-100 p-2 m-0 font-black"><%=posts[i].descr%></p>
                                                         </div>
                                                         <div class="col-lg-4 col-6 border-bottom">
                                                             <% if(currentUser.username == posts[i].author) {%>
                                                                 <form id="delPost" method="POST" action="/student/discussion/delete/<%=posts[i].subID%>/post/<%=posts[i].postID%>">
                                                                 <p class="w-100 p-2 m-0 font-black"><span class="float-right"><button type="button" class="btn btn-danger delPBtn">Delete</button></span></p>
                                                                 </form>
                                                             <% } else { %>
                                                                <p class="w-100 p-2 m-0 font-black"><span class="float-right"><i class="fa fa-clock-o mr-1" aria-hidden="true"></i><%=moment(posts[i].postedAt).format('MMMM Do YYYY, h:mm a');%></span></p>
                                                             <% } %>
                                                         </div>
                                                   </div> 
                                                  <div class="user-comment-desc p-1 pl-2">
                                                      <p class="m-0 mr-2"><%=posts[i].authorName%></p>    
                                                      <% if(currentUser.username == posts[i].author) {%>
                                                        <span class="float-right"><i class="fa fa-clock-o mr-1" aria-hidden="true"> <%=moment(posts[i].postedAt).format('MMMM Do YYYY, h:mm a');%></i></span>
                                                      <% } %>
                                                  </div>    
                                              </div>
                                            </div>
                                                
                                                <% for(var j=0;j<comments.length;j++) { %>
                                                    <% if (comments[j].postID==posts[i].postID) { %>
                                                        <div class="row">
                                                          <div class="col-lg-12">
                                                            <ul class="p-0">
                                                              <li>
                                                                  <div class="row comment-box p-1 pt-2 pr-4">
                                                                    <div class="col-lg-2 col-3 user-img">
                                                                      <img src="/../images/users/<%=comments[j].author%>.jpg" class="p-2 float-right sub-cmt-img">
                                                                    </div>
                                                                    <div class="col-lg-10 col-9 user-comment bg-light rounded pb-1 mt-2">
                                                                    <div class="row">
                                                                       <div class="col-lg-7 col-6 border-bottom pr-0">
                                                                          <p class="w-100 p-2 m-0 font-black"><%= comments[j].comment %></p>
                                                                       </div>
                                                                       <div class="col-lg-5 col-6 border-bottom">
                                                                          <% if(currentUser.username == comments[j].author) {%>
                                                                            <form id="delComment" method="POST" action="/student/discussion/delete/<%=comments[j].subID%>/comment/<%=comments[j].cID%>">
                                                                                <p class="w-100 p-2 m-0 font-black"><span class="float-right"><button type="button" class="btn btn-danger delCBtn">Delete</button></span></p>
                                                                            </form>
                                                                          <% } else { %>
                                                                            <p class="w-100 p-2 m-0 font-black"><span class="float-right"><i class="fa fa-clock-o mr-1" aria-hidden="true"></i><%=moment(comments[j].postedAt).format('MMMM Do YYYY, h:mm a');%></span></p>
                                                                          <% } %>
                                                                       </div>
                                                                    </div> 
                                                                      <div class="user-comment-desc p-1 pl-2">
                                                                          <p class="m-0 mr-2"> <%=comments[j].authorName%></p>
                                                                          <% if(currentUser.username == comments[j].author) {%>
                                                                            <span class="float-right"><i class="fa fa-clock-o mr-1" aria-hidden="true"> <%=moment(comments[j].postedAt).format('MMMM Do YYYY, h:mm a');%></i></span>
                                                                          <% } %>
                                                                      </div>   
                                                                    </div>
                                                                  </div>
                                                              </li>
                                                            </ul>
                                                          </div>
                                                        </div>
                                                    <% } %>
                                                <% } %>
                                            
                                            <!--Comment box -->
                                            <br>
                                            <div class="row">
                                              <div class="col-lg-9 offset-lg-2 col-10"  style="padding-left:0">
                                                <input id="subID" type="hidden" value="<%=posts[i].subID%>">
                                                <input name="<%=posts[i].postID%>" id="commentDescr" type="text" class="form-control" placeholder="Let them know your opinion...">
                                              </div>
                                              <div class="col-lg-1 col-2 send-icon">
                                                <a id="commentBtn" href=""><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                                              </div>
                                            </div>
                                            <% }; %>
                                        </li>
                                    
                                      </ul>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/discussion.js"></script>
<script src="/scripts/register.js"></script>
<% include ../partials/footer %>